@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lobster);
body {
	background: url(../images/2014-07-18%2009.06.56.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}
h1 { 
	color: #FFF;
	font-family: 'Lobster', cursive;
	font-size: 4em 
}
h2 { 
	color: #FFF;
	font-size: 2em 
}
.iconList {
	list-style: none;
	margin: 0;
	padding: 0;
}
.iconList li {
	display: inline;
	margin: 0 5%;
}
.icon {
	height: auto;
	width: 64px;
}
.glyphicon { margin-right: 4px !important; /*override*/ }
.panel ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.pocketFeed__item {
	color: black;
	padding: 4px 4px;
	margin: 0px;
	border-bottom: 1px dotted #555;
}
.pocketFeed__item span { margin-right: 12px }
